body, html {
  background-color: #00863f;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.spacer {
  width: 100%;
  height: 93px;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  float: left;
}


.subheading {
  color: #59b570;
  font-size: 20px;
  padding: 5px 20px;
}


a {
  color: #59b570;
}

/* header */

.header {
  background-color: white;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: white;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  padding: 2px 20px;
  text-decoration: none;
  color: #59b570;
  font-size: 40px;
  font-weight: 900;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 400px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

footer{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background: white;
  border: 1px solid grey;
}

#email, #req-sign {
  text-align: center;
  bottom: 0;
  color: #59B570;
  font-size: 30px;
  padding: 10px;
  margin: 5px;
  text-decoration: none;


}


#email:hover, #req-sign:hover {
  text-align: center;
  bottom: 0;
  color: white;
  font-size: 30px;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  background-color: #2AB546;
  transition: background-color 500ms linear;
}

#music-note{
  margin-top: 25px;
}

#halter-family {
  padding-bottom: 45px;
}

.picture-flex {
  display: flex;
  justify-content: center;
  align-items: space-around;
}

#ken-pup{
  width:100%;
}



/*
IPHONE -----------------------------------------------------------------
*/

@media only screen and (max-device-width : 480px) {


  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }

  .subheading {
    display: flex;
    justify-content: space-between;
    color: #59B570;
    font-size: 20px;
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4vw;
  }

  img {
    width: 100%;
    object-fit: contain;

  }

  .bio, .bio-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4vw;
  }

  .prof {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vw;
  }

  .prof h3 {
    font-size: 23px;
    text-align: center;
  }

  .content-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 25px;

  }

  .years {
    width: 40vw;
    padding-right: 1vw;
    }

  .place {
    display: flex;
    width: 100%;
    flex-direction: column;
    border-left: 1px solid white;
  }

  .addtnl {
    font-size: 20px;
  }

  .place p {
    margin-left: 10px;
    text-align: left;
  }


  h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
  }

  h2 {
    font-size: 30px;
  }

  ul{
    padding: 0;
    margin-block-start: 0;
  }
  li {
    margin: 5vw;
  }

  h3 {
    text-align: left;

  }

  p {
    font-size: 15px;
    margin-block-start: 0;
  }

  .position-statement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vw;
  }
  .center {
         text-align:center;
         width:100%;
     }

    .headshot{
      margin-bottom: 10px;
    }

    #email, #req-sign {
      text-align: center;
      bottom: 0;
      color: #59B570;
      font-size: 15px;
      padding: 10px;
      margin: 5px;
      text-decoration: none;
    }

    .video-responsive, iframe {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top:20px;
      }

      .picture-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10vw;
      }

      .full-screen-flex-columns-pic {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: space-around;
      }
      
      .full-screen-flex-section-pic {
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
       padding: 5vw;
      
      }

}

/*
IPAD -----------------------------------------------------------------
*/

@media only screen
and (min-device-width : 480px)
and (max-device-width : 1024px) {

  .subheading {
    display: flex;
    justify-content: space-between;
    color: #59B570;
    font-size: 20px;
  }

  .hero {
    float: left;
    justify-content: center;
    align-items: center;
    margin-left: 4vw;
    margin-bottom: 4vw;
    margin-right: 4vw;
    width: 45vw;
  }

  img {
    width: 100%;
    object-fit: contain;

  }

  .bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vw;
  }

  .bio-top {
    flex-direction: column;
    justify-content: center;
    align-items: right;
    margin: 5vw;
  }

  .prof {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vw;
  }

  .prof h3 {
    font-size: 23px;
    text-align: center;
  }

  .content-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    width: 100%;

  }

  .years {
    width: 40vw;
    padding-right: 1vw;
    }

  .place {
    display: flex;
    width: 100%;
    flex-direction: column;
    border-left: 1px solid white;
  }

  .addtnl {
    font-size: 20px;
  }

  .place p {
    margin-left: 10px;
    text-align: left;
  }


  h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
  }

  h2 {
    font-size: 30px;
  }

  ul{
    padding: 0;
    margin-block-start: 0;
  }
  li {
    margin: 2vw;
  }

  h3 {
    text-align: left;

  }

  p {
    font-size: 15px;
    margin-block-start: 0;
  }

  .position-statement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vw;
  }

  .center {
         text-align:center;
         width:100%;
     }

     .headshot {
       max-width: 250px;
       margin-bottom: 10px;
     }

     .video-responsive{
         display: flex;
         max-width: 500px;
         height: 315px;
     }
     .video-responsive iframe{
         left:0;
         top:0;
         height:100%;
         width:100%;
     }

 #music-note {
   display: none;
 }

}

/*
DESKTOP -----------------------------------------------------------------
*/


@media only screen
and (min-device-width : 1025px) {

  .subheading {
    display: flex;
    justify-content: space-between;
    color: #59B570;
    font-size: 25px;
    padding: 5px 25px;

  }

  .spacer {
    width: 100%;
    height: 130px;
  }


  .header .logo {
    display: block;
    padding: 2px 25px;
    text-decoration: none;
    color: #59b570;
   }

   #top-logo {
    width: 200px;
    height: 120px;
   }

  .hero {
    margin-right: 4vw;
    margin-left: 4vw;

  }

 .headshot {
   max-width: 150px;
   margin-top: -248px;
   margin-bottom: 50px;
 }

   img {
  display: block;
  max-height:650px;
  width: auto;
  height: auto;

  }


  .bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right: 2vw;
    margin-left: 2vw;
  }

  .bio-top {
    margin-top: -23px;
    margin-right: 5vw;
  }


  .prof {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vw;
  }

  .prof h3 {
    font-size: 23px;
    text-align: center;
  }

  .content-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    width: 100%;

  }

  .years {
    width: 40vw;
    padding-right: 1vw;
    }


  .place {
    display: flex;
    width: 100%;
    flex-direction: column;
    border-left: 1px solid white;
  }

  .addtnl {
    font-size: 20px;
  }

  .place p {
    margin-left: 10px;
    text-align: left;
  }


  h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0;
    margin-top: 0;
  }

  h2 {
    font-size: 30px;
  }

  #top {
  font-size: 37px;
  margin-block-start: 0;
  margin-block-end: 4vh;
  margin-top: 10px
  }

  ul{
    padding: 0;
    margin-block-start: 0;
  }
  li {
    margin: 20px;
  }

  .center {
         text-align:center;
         width:100%;
  }

  h3 {
    text-align: left;

  }

  p {
    font-size: 20px;
    margin-block-start: 0;
  }

  .position-statement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 74px;
    padding-left: 37vw;
    padding-right: 29vw;
  }

  .flex-top-items{
    display: flex;
    flex-direction: row;
    margin-top: 37px;
  }

  #music-note {
    display: none;
  }

 .full-screen-flex-columns {
   display: flex;
   flex-direction: row;
 }

.full-screen-flex-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1vw;
  width: 33%;

}


.full-screen-flex-columns-pic {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: space-around;
}

.full-screen-flex-section-pic {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 padding: 1vw;

}


.video-responsive{
    display: flex;
    max-width: 600px;
    height: 315px;
    margin-top: 100px;
}

.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
 }
}
