body, html {
  background-color: #59B570;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 100%;
  margin: 0px;
  padding: 0px;
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

  h1 {
    text-align: center;
  }

  nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 10px;
    border-bottom: 2px solid grey;
  }

  .spacer {
    width: 100%;
    height: 85px;
  }

  .heading-name {
    color: #59B570;
    font-size: 40px;
    font-weight: 900;
  }

  .subheading {
    display: flex;
    justify-content: space-between;
    color: #59B570;
    font-size: 20px;
  }

  .hero {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
  }

  img {
    width: 100%;
    object-fit: contain;

  }

  .bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vw;
  }

  h2 {
    font-size: 30px;
  }

  p {
    font-size: 15px;
  }

}
